<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <section id="header">
        <a href="#"><img src="img/logo.svg " width="180vw" class="logo" alt="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Главная</a></li>
                <li><a class="active" href="shop.html">Каталог</a></li>
                <li><a href="contact.html">Контакты</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="fa fa fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class=" fa fa fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa fa fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>


    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="img/products/p1.jpg" width="100%" id="MainImg" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="img/products/p1_2.jpg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/products/p1_3.jpg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/products/p1.jpg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="img/products/p1_5.jpg" width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="products">
        <div class="product single-pro-details" data-name="Светло-зеленые джинсовые шорты" data-price="800" data-id="0">
            <h6>Лето/Весна</h6>
            <h4>Светло-зеленые джинсовые шорты</h4>
            <h2>800р</h2>
            <select>
                <option>Размер</option>
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
            <input type="number" class="count" value="1">
            <button class="tiny">В корзину</button>
            <h4>Описание</h4>
            <span><p>Подчеркнут ноги и визуально вытянут силуэт! Джинсовые шорты оттенка голубого неба станут стильным выбором на каждый день.</p></span>
            <span><p>Шорты с необработанным краем созданы для непринуждённых летних образов. Фасон New Mom с высокой посадкой визуально вытягивает силуэт и акцентирует талию и ноги. Носите их с майками и кроп-топами в знойную погоду или лонгсливами и лёгкими свитшотами — прохладными летними вечерами.</p></span>
            <span><p>Изделие выполнено из хлопкового денима. Модель с полностью натуральным составом позволяет коже дышать — идеально для чувствительной кожи.</p></span>
            <span><p>Детали кроя: застёжка на пуговицу и молнию, шлёвки для ремня, прорезные и накладные карманы, необработанные края.</p></span>
        </div>
        </div>
    </section>

    <div class="row">
        <div class="inv">
            <div class="cart">
                <h1>Cart items</h1>
                <div class="row">
                    <div class="medium-6 columns">
                        <button class="tiny secondary" id="clear">Clear the cart</button>
                    </div>
                    <div class="medium-6 columns">
                        <button class="tiny disabled" title="Work in progress">Checkout</button>
                    </div>
                </div>
                <div id="cartItems">Loading cart...</div>
                Total price: <strong id="totalPrice">0 $</strong>
            </div>
        </div>
    </div>
    <script type="text/template" id="cartT">
      <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
    <%= item.count %> piece<% if(item.count > 1)
    {%>s
    <%}%> for <%= item.total %>$</span > </div>
    <% }); %>
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
    <script  src="./js/script.js"></script>

    <footer class="section-p1">
        <div class="col">
            <!--<img class="logo" src="img/logo.jpg">-->
            <h4>Контакты</h4>
            <p><strong>Адрес:</strong> Проспект Вернадского, 78, Москва</p>
            <p><strong>Телефон:</strong> +7 977 299 74 35</p>
            <p><strong>Часы работы:</strong> 10:00 - 18:00, Пн - Пт</p>
            <div class="follow">
                <h4>Мы в соцсетях</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>О нас</h4>
            <a href="#">О нас</a>
            <a href="#">Доставка</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Условия</a>
            <a href="#">Свяжитесь с нами</a>
        </div>

        <div class="col">
            <h4>Мой аккаунт</h4>
            <a href="#">Вход</a>
            <a href="#">Корзина</a>
            <a href="#">Нравится</a>
            <a href="#">Отследить заказ</a>
            <a href="#">Помощь</a>
        </div>

        <div class="copyright">
            <p>© 2023, Kopylova & Nickonova</p>
        </div>
    </footer>


    <script>
        var MainImg = document.getElementById("MainImg");
        var smallImg=document.getElementsByClassName("small-img");

        smallImg[0].onclick=function(){
            MainImg.src=smallImg[0].src;
        }
        smallImg[1].onclick=function(){
            MainImg.src=smallImg[1].src;
        }
        smallImg[2].onclick=function(){
            MainImg.src=smallImg[2].src;
        }
        smallImg[3].onclick=function(){
            MainImg.src=smallImg[3].src;
        }


    </script>


    <script src="https://kit.fontawesome.com/1893cfa3bd.js" crossorigin="anonymous"></script>
    <script src="app.min.js"></script>
</body>
</html>